
/* .container{
    margin: 5rem;
} */

.modalWrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color:#FFFFFF;
    opacity: .6;
    /* color: white; */
    padding: 3rem;
    /* z-index: 1; */
  }
  
.modalContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #EFEFEF;
    width: 30%;
    padding: 2rem;
   
    border-radius: 12px;
    /* z-index: 1; */
  
  }
  .form{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }

  .addBtn{
    width:40%;
    padding:.7rem 1rem;
    border: none;
    border-radius: 12px;
    background-color: #F4BB4A;
  }
  .cancel{
    width: 25%;
    border-radius: 12px;
    padding: .7rem 1rem; 
    border: none;
    background-color: rgb(212, 208, 208);
    box-shadow: 0 0 10px rgba(0,0,10,.5);
  }
  h1{
    color: black;
  }
  .ipBox{
    border: none;
    /* outline: none; */
    padding: .8rem;
    background-color: azure;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(133, 136, 136, 0.5);
}

@media (max-width:550px){
  .modalContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #EFEFEF;
    width: 40%;
    padding: 2rem;
    border-radius: 12px;
    /* z-index: 1; */
  }
  .addBtn{
    width:55%;
    padding:.7rem 1rem;
    border: none;
    border-radius: 12px;
    background-color: #F4BB4A;
  }
  .cancel{
    width: 35%;
    border-radius: 12px;
    padding: .7rem 1rem; 
    border: none;
    background-color: rgb(212, 208, 208);
    box-shadow: 0 0 10px rgba(0,0,10,.5);
  }

}