.App {
  /* border: .5px solid red; */
  height: 90vh;
  width: 100%;
  padding: 0 1rem;
}
h1{
  color: #FFFFFF;
  margin-top: 0;
}

@media (max-width:550px){
  .App{
    width:115% ;
    min-height: 100vh;
  }
}